<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kezhang.tliasbackend.mapper.ClazzMapper">
    <!-- 查询所有的Ongoing & Upcoming状态的Clazz信息，提供给前端下拉菜单选项 -->
    <select id="selectAllOngoingAndUpcomingClazzes" resultType="com.kezhang.tliasbackend.dto.ClazzResponseDTO">
        SELECT
            c.id,
            c.name,
            c.room,
            c.master_id,
            e.name AS masterName,
            c.begin_date,
            c.end_date,
            c.create_time,
            c.update_time,
            CASE
                WHEN NOW() &lt; c.begin_date THEN 'Upcoming'
                WHEN NOW() &gt; c.end_date THEN 'Ended'
                ELSE 'Ongoing'
            END AS status
        FROM clazz c
        LEFT JOIN employee e ON c.master_id = e.id
        WHERE NOW() &lt;= c.end_date
    </select>

    <!-- 查询所有的Clazz信息，用于条件分页查询 -->
    <select id="selectAllClazzesByCondition" resultType="com.kezhang.tliasbackend.dto.ClazzResponseDTO" parameterType="com.kezhang.tliasbackend.dto.ClazzQueryParam">
        SELECT
            c.id,
            c.name,
            c.room,
            c.master_id,
            e.name AS masterName,
            c.begin_date,
            c.end_date,
            c.create_time,
            c.update_time,
            CASE
                WHEN NOW() &lt; c.begin_date THEN 'Upcoming'
                WHEN NOW() &gt; c.end_date THEN 'Ended'
                ELSE 'Ongoing'
            END AS status
        FROM clazz c
        LEFT JOIN employee e ON c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                AND c.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="beginDate != null and endDate != null">
                AND c.begin_date BETWEEN #{beginDate} and #{endDate}
            </if>
        </where>
        ORDER by update_time DESC
    </select>

    <!-- 新增单个Clazz信息 -->
    <insert id="insertClazz" parameterType="com.kezhang.tliasbackend.entity.Clazz">
        INSERT INTO clazz (name,room,begin_date,end_date,master_id,subject_id)
        VALUES (#{name},#{room},#{beginDate},#{endDate},#{masterId},#{subjectId})
    </insert>

    <!-- 获取班级的status状态，用于删除前的判断 -->
    <select id="getClazzStatusById">
        SELECT
            CASE
                WHEN NOW() &lt; c.begin_date THEN 'Upcoming'
                WHEN NOW() &gt; c.end_date THEN 'Ended'
                ELSE 'Ongoing'
            END AS status
        FROM clazz c
        WHERE c.id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <!-- 删除Clazz -->
    <delete id="deleteClazzById">
        DELETE FROM clazz WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 获取单个班级信息 -->
    <select id="getClazzById" resultType="com.kezhang.tliasbackend.dto.ClazzDisplayDTO">
        SELECT
            c.id,
            c.name,
            c.room,
            c.begin_date,
            c.end_date,
            e.name AS masterName,
            s.name AS subjectName,
            c.create_time,
            c.update_time
        FROM clazz c
        LEFT JOIN employee e ON c.master_id = e.id
        LEFT JOIN subject s ON c.subject_id = s.id
        WHERE c.id = #{id}
    </select>
    <!-- 更新单个Clazz信息 -->
    <update id="updateClazzByCondition" parameterType="com.kezhang.tliasbackend.entity.Clazz">
        UPDATE clazz
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="room != null and room != ''">
                room = #{room},
            </if>
            <if test="beginDate != null">
                begin_date = #{beginDate},
            </if>
            <if test="endDate != null">
                end_date = #{endDate},
            </if>
            <if test="masterId != null">
                master_id = #{masterId},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>