<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kezhang.tliasbackend.mapper.ReportMapper">
    <!-- 查询部门的名称和对应的人数 -->
    <select id="getDepartmentEmployeeCount" resultType="com.kezhang.tliasbackend.dto.DepartmentEmployeeCountDTO">
        SELECT
            d.name AS departmentName,
            COUNT(e.id) AS employeeCount
        FROM department d
        LEFT JOIN employee e ON d.id = e.department_id
        GROUP BY d.id;
    </select>

    <!-- 查询各个职位名称和对应的人数 -->
    <select id="getPositionEmployeeCount" resultType="com.kezhang.tliasbackend.dto.PositionEmployeeCountDTO">
        SELECT
            p.name AS positionName,
            COUNT(e.id) AS employeeCount
        FROM position p
        LEFT JOIN employee e ON p.id = e.job_title
        GROUP BY p.id;
    </select>

    <!-- 查询员工性别对应数量 -->
    <select id="getEmployeeGenderCount" resultType="com.kezhang.tliasbackend.dto.EmployeeGenderDTO">
        SELECT
            CASE gender
                WHEN '0' THEN 'Female'
                WHEN '1' THEN 'Male'
                ELSE 'Not Specified'
            END AS name,
            COUNT(id) AS value
        FROM employee
        GROUP BY gender;
    </select>

    <!-- 查询student表中degree的种类和对应人数 -->
    <select id="getStudentDegreeCount" resultType="map">
        SELECT
            degree,
            COUNT(*) AS count
        FROM student
        GROUP BY degree;
    </select>

    <!-- 查询student表中各个clazz的学生人数 -->
    <select id="getStudentClazzCount" resultType="map">
        SELECT
            c.name AS clazzName,
            COUNT(*) AS count
        FROM student s
        LEFT JOIN clazz c ON s.clazz_id = c.id
        GROUP BY c.name;
    </select>

</mapper>